.period {
  padding: 50px 0;

  &__dates {
    margin-bottom: 15px;

    & input {
      width: 111px;
    }
  }

  &__from {
    margin-right: 15px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    overflow: hidden;

    th,
    td {
      padding: 12px 16px;
      text-align: center;
    }

    thead {
      background-color: #5300ff;
      color: #fff;
    }
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  &__pdf-button {
    margin-right: 20px;
    background-color: #5300ff;
    padding: 5px 10px;
    border-radius: 10px;
    color: #ccc;
    font-size: 20px;
    margin-top: 15px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.4
    }
  }
}